.gc-card {
  background: $color-white;
  border: 1px solid $gb-color-component-dark;
  border-radius: $radius-large;
  padding: 18px;
  box-shadow: 0 1px 0 rgba(20, 20, 28, 0.04), 0 1px 2px rgba(20, 20, 28, 0.04);

  &--default {
    background-color: $gb-color-component-light;
  }

  &--gradient {
    background: linear-gradient(#f5f5f5, #fff 10%);
  }
}
