/* Colors */

/* Brand role */
$gb-color-background: $color-white !default;
$gb-color-primary: $color-astral !default;
$gb-color-text: $color-scorpion !default;
$gb-color-link: $color-astral !default;
$gb-color-logo: $color-scorpion !default;

/* Structural role */
$gb-color-separator: $color-mercury !default;
$gb-color-component-light: $color-white-darker !default;
$gb-color-component: $color-wild-sand !default;
$gb-color-component-dark: $color-mercury !default;

/* Functional role */
$gb-color-success: $color-spring-green !default;
$gb-color-success-soft: $color-mint-green !default;
$gb-color-info: $color-astral !default;
$gb-color-info-soft: $color-link-water !default;
$gb-color-danger: $color-roman !default;
$gb-color-danger-soft: $color-beauty-bush !default;
$gb-color-disabled: $color-boulder !default;

/* Fonts */
$gb-font: Arial !default;
