.gc-skeleton {
  --base-color: #e5e7eb;
  --highlight-color: #f3f4f6;

  height: 14px;
  border-radius: 8px;
  margin: 10px 0;
  background:
    linear-gradient(
      90deg,
      var(--base-color) 25%,
      var(--highlight-color) 50%,
      var(--base-color) 75%
    );
  background-size: 200% 100%;
  animation: l-pulse-gradient 1.6s ease-in-out infinite;
}

@keyframes l-pulse-gradient {
  0% {
    background-position: 100% 50%;
  }

  50% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}
