.gc-flex {
  display: flex;

  &--vertical {
    flex-direction: column;
  }

  &--align-items-center {
    align-items: center;
  }

  &--align-content-center {
    align-content: center;
  }

  &--wrap {
    flex-wrap: wrap;
  }
}
