.gm-spacing-s {
  margin: $spacing-small;
}

.gm-spacing-m {
  margin: $spacing-medium;
}

.gm-spacing-l {
  margin: $spacing-large;
}

.gm-spacing-vl {
  margin: $spacing-very-large;
}

.gm-spacing-rs {
  margin-right: $spacing-small;
}

.gm-spacing-rm {
  margin-right: $spacing-medium;
}

.gm-spacing-rl {
  margin-right: $spacing-large;
}

.gm-spacing-rvl {
  margin-right: $spacing-very-large;
}

.gm-spacing-bs {
  margin-bottom: $spacing-small;
}

.gm-spacing-bm {
  margin-bottom: $spacing-medium;
}

.gm-spacing-bl {
  margin-bottom: $spacing-large;
}

.gm-spacing-bvl {
  margin-bottom: $spacing-very-large;
}

.gm-spacing-ls {
  margin-left: $spacing-small;
}

.gm-spacing-lm {
  margin-left: $spacing-medium;
}

.gm-spacing-ll {
  margin-left: $spacing-large;
}

.gm-spacing-lvl {
  margin-left: $spacing-very-large;
}

.gm-spacing-ts {
  margin-top: $spacing-small;
}

.gm-spacing-tm {
  margin-top: $spacing-medium;
}

.gm-spacing-tl {
  margin-top: $spacing-large;
}

.gm-spacing-tvl {
  margin-top: $spacing-very-large;
}
