.gc-link {
  cursor: pointer;
  text-decoration: none;
  transition: color 0.12s, border-color 0.12s;

  &--primary {
    color: $gb-color-link;
    border-bottom: 1px solid rgba($gb-color-link, 0.3);

    &:hover {
      border-bottom-color: $gb-color-link;
    }
  }

  &--default {
    color: $gb-color-text;
    border-bottom: 1px solid rgba($gb-color-text, 0.25);

    &:hover {
      border-bottom-color: $gb-color-text;
    }
  }
}
